{% extends 'base.html' %}

{% block title %}
  create new citizen
{% endblock %}

{% block content_title %}
  new citizen
{% endblock %}

{% block content %}
Введите данные в формате:\n' \
                           '1. ФИО\n' \
                           '2. Телефон\n' \
                           '3. Дату рождения (дд.мм.гггг)\n' \
                           '4. Адрес\n' \
                           '5. Число проживающих\n' \
                           '6. ФИО и возраст проживающих\n' \
                           '7. Есть ли среди проживающих инвалиды?\n' \
                           '8. Есть ли дети?\n' \
                           '9. Если есть, укажите возраст\n' \
                           '10. Нужны ли продукты питания?\n' \
                           '11. Вода?\n' \
                           '12. Лекарства?\n' \
                           '13. Укажите количество\n' \
                           '14. Средства личной гигиены?\n' \
                           '15. Укажите количество\n' \
                           '16. Памперсы?\n' \
                           '17. Особенности диеты и т.п.\n' \
                           '18. Даю согласие на обработку персональных данных.\n' \
                           '19. Даю согласие на фото/видео.\n' \
<div class="col-md-6">
  <form  action="{{url_for('citizen_create')}}" method="POST">
    {% for field in form %}
      <div class="form-group">
        {{ field.label(class='control-label') }}
        {{ field(class='form-control') }}

      </div>
    {% endfor %}
    <button type="submit" class='btn btn-success'> Сохранить </button>
  </form>
</div>


{% endblock %}
